* {
    background-color: grey;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.startCamButtonStyle {
    background-color: white;
    color:grey;
    border: none;
    width: 150px;
    height: 75px;
    font-size: 25px;
    text-align: center;
}

.startCamButtonStyle:hover {
    background-color: grey;
    color: white;
    border: 2px solid white;
    transition-duration: 0.3s;

}